<%- include('includes/head') %>
  <%- include('includes/nav') %>

    <body>
      <!--Container-->
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <!--Titulo-->
          <div class="col-lg-8 my-3">
            <h1 class="display text-center">
              Agenda
            </h1>
            <!--Ação-->
            <p class="text-center">
              Seus contatos estão abaixo
            </p>

            <div class="response-table">
              <table class="table my-3">
                <tr>
                  <td>Ryan</td>
                  <td>Menezes</td>
                  <td>53981011805</td>
                  <td>ryanoliveiram2015@gmail.com</td>
                </tr>

              </table>
            </div>

          </div>

          <div class="col-lg-2"></div>
        </div>
      </div>


      <%- include('includes/footer') %>